config_db_codes = metl,eova,repository

#metl数据源
metl_url = jdbc:mysql://localhost:3306/km
metl_user = root
metl_pwd = 123456

#eova数据源
eova_url = jdbc:mysql://localhost:3306/km
eova_user = root
eova_pwd = 123456

#kettle数据源
repository_url = jdbc:mysql://localhost:3306/repository
repository_user = root
repository_pwd = 123456

#默认事务级别配置(MYSQL=4,Oralce=2)
transaction_level = 4